<container class="margin-top-30">
	<row>
		<col md="3">
			<panel>
				<list.group class="list-group-no-border">
					<list.group.item>
						<icon symbol="align-justify" /> <span class="pd-left-5">DANH MỤC</span>
					</list.group.item>
					<list.group.item class="pd-left-40">
						<a href="#">Địa điểm</a>
					</list.group.item>
					<list.group.item class="active pd-left-40">
						<a href="#" class="text-white">Chủ đề</a>
					</list.group.item>
					<list.group.item class="pd-left-40">
						<a href="#">Dịch vụ của bạn</a>
					</list.group.item>
					<list.group.item class="pd-left-40">
						<a href="#">Danh bạ Sper</a>
					</list.group.item>
					<list.group.item class="pd-left-40">
						<a href="#">Bộ sưu tập</a>
					</list.group.item>
				</list.group>
				<panel.body>
				</panel.body>
			</panel>
			<panel>
				<panel.body>
					<icon symbol="credit-card" /> <span class="pd-left-5">THANH TOÁN</span>
					<br />
					<img src="/themejs/sper/media/payment.png" class="width-p-100" />
					
				</panel.body>
			</panel>
			
			<include src="/sidebar/partner.html" />
		</col>
		<col md="9">
			<panel class="bg-transparent">
				<panel.heading class="bg-white-important">
					<panel.title>Title</panel.title>
				</panel.heading>
				<panel.body class="bg-transparent padding-5">
					<row class="row-padding-5">
						<include src="/home/item.html" />
						<include src="/home/item.html" />
						<include src="/home/item.html" />
						<include src="/home/item.html" />
						<include src="/home/item.html" />
						<include src="/home/item.html" />
						<include src="/home/item.html" />
						<include src="/home/item.html" />
						<include src="/home/item.html" />
						<include src="/home/item.html" />
					</row>
				</panel.body>
			</panel>
			
		</col>
	</row>
</container>