<container style="margin-top: 30px;">
	<row>
		<col md="7">
			<list.group>
				<list.group.item>
					<h2 class="inline-block">Blog > </h2> lựa chọn ngôi nhà ngoại ô cho gia đình trẻ
				</list.group.item>
				<list.group.item>
					<include src="/home/news/item.html" />
				</list.group.item>
				<list.group.item>
					<include src="/home/news/item.html" />
				</list.group.item>
				<list.group.item>
					<include src="/home/news/item.html" />
				</list.group.item>
				<list.group.item>
					<include src="/home/news/item.html" />
				</list.group.item>
				<list.group.item>
					<include src="/home/news/item.html" />
				</list.group.item>
			</list.group>
		</col>
		<col md="5">
			<panel>
				<panel.heading class="no-padding">
					<nav context="tabs" class="nav-justified">
						<nav.item class="active">
							<a href="#">Hello</a>
						</nav.item>
						<nav.item>
							<a href="#">World</a>
						</nav.item>
					</nav>
				</panel.heading>
				<panel.body class="no-padding">
					<list.group>
						<list.group.item>
							<include src="/home/news/item.html" />
						</list.group.item>
						<list.group.item>
							<include src="/home/news/item.html" />
						</list.group.item>
						<list.group.item>
							<include src="/home/news/item.html" />
						</list.group.item>
						<list.group.item>
							<include src="/home/news/item.html" />
						</list.group.item>
						<list.group.item>
							<include src="/home/news/item.html" />
						</list.group.item>
					</list.group>	
				</panel.body>
			</panel>
		</col>
	</row>
</container>