<carousel id="carousel">
	<carousel.inner>
		<carousel.item class="active text-center" style="overflow: hidden;">
			<img src="/themejs/sper/media/slide1.png" style="margin: 0 auto;" />
		</carousel.item>
		<carousel.item class="text-center" style="overflow: hidden;">
			<img src="/themejs/sper/media/slide1.png" style="margin: 0 auto;" />
		</carousel.item>
		<carousel.item class="text-center" style="overflow: hidden;">
			<img src="/themejs/sper/media/slide1.png" style="margin: 0 auto;" />
		</carousel.item>
	</carousel.inner>
	<carousel.control direction="left" href="#carousel">
		<icon symbol="chevron-left" />
	</carousel.control>
	<carousel.control direction="right" href="#carousel">
		<icon symbol="chevron-right" />
	</carousel.control>
</carousel>