<empty>
	<col md="3" class="mg-bottom-15">
		<div class="border-1 border-eee">
			<img src="http://placehold.it/200x150" class="width-p-100" />
			<h3 class="mg-0 pd-5 fs-11">5 quán vịt quay ngon nức tiếng cho mùa...</h3>
			<hr class="mg-top-5 mg-bottom-5" />
			<media class="pd-5 mg-0">
				<media.left>
					<img src="http://placehold.it/32x32" class="circle" />
				</media.left>
				<media.body>
				<h4 class="mg-0 pd-0 fs-12"><strong>takesu honda</strong></h4>
				<span class="block fs-12">18/06/2018</span>
				</media.body>
			</media>
		</div>
	</col>
</empty>