<empty>
	<container>
		<row>
			<col xs="12">
				Trang chủ &gt; Đăng sản phẩm
			</col>
		</row>
	</container>
	<br />
	<container>
		<row>
			<col xs="12">
				<div class="bg-white padding-15">
					<row>
						<col md="10" mdo="1">
							<form>
								<form.input label="Username" id="username" placeholder="Enter Username" />
								<form.input label="Email" type="email" id="email" placeholder="Enter Email" />
								<form.input label="Password" type="password" id="password" placeholder="Enter Password" />
								<btn.success>Đăng sản phẩm</btn.success>
							</form>
						</col>
					</row>
				</div>
			</col>
		</row>
	</container>
</empty>