<empty>
	<container>
		<row class="row-no-padding">
			<col md="4">
				<div class="relative">
					<img src="http://placehold.it/600x600" class="width-p-100" />
					
					<div class="absolute on-middle align-bottom padding-15 bg-white opacity-5 width-p-100">&amp;nbsp;</div>
					
					<div class="absolute on-top align-bottom padding-15 clearfix width-p-100">
						<span class="inline-block pull-left">
							<icon symbol="star"/>
							<icon symbol="star"/>
							<icon symbol="star"/>
							<icon symbol="star"/>
							<icon symbol="star"/>
							4.5/5
						</span>
						<span class="inline-block pull-right"><a href="#">Đánh giá ngay</a></span>
					</div>
				</div>
			</col>
			<col md="8">
				<div class="clearfix bg-white">
					<div class="pull-left padding-20">
						<h1 class="mg-top-0 mg-bottom-5 text-bold fs-26">Tấm thạch cao loại 1 Vĩnh Tường</h1>
						<div class="clearfix">
							<div class="pull-left width-60 relative">
								<div class="text-red"><fa symbol="bookmark" size="4x" /></div>
								<div class="text-white absolute on-top top-10 left-5">20%</div>
							</div>
							<div class="pull-left">
								<span class="fs-20 text-bold text-red">100.000đ</span><br />
								<span class="fs-15 text-strike">99.000đ</span>
							</div>
						</div>
						<h4 class="text-bold fs-15">Thông tin sản phẩm</h4>
						<div>Mã sản phẩm: </div>
						<div>Loại thạch cao: </div>
						<div>Kích thước: </div>
						<div class="clearfix width-p-100">
							<div class="pull-left width-p-50">
								Sản phẩm: Mới
							</div>
							<div class="pull-left width-p-50">
								Kho hàng: Còn hàng
							</div>
							<div class="pull-left width-p-50">
								Nhập mã: ABC123
							</div>
							<div class="pull-left width-p-50">
								Chỉ còn: 75.000đ
							</div>
						</div>
					</div>
					<div class="pull-right text-center width-200 pd-top-20">
					<img src="http://placehold.it/100x80" /><br />
					Gian hàng:<br />
					<h4 class="text-bold fs-15">Trần thạch cao Bảo Vy</h4>
					<a href="#">Công ty</a>
					</div>
				</div>
			</col>
		</row>
	</container>
</empty>