<empty>
	<footer class="bg-green text-white padding-top-30 padding-bottom-30">
		<container>
			<row>
				<col md="4">
					<h4>CÔNG TY TNHH TM VÀ DV SPER</h4>
				</col>
				<col md="4">
					<row>
						<col md="4">
							<h5>CÔNG TY</h5>
							<ul class="no-padding no-list-style">
								<li class="padding-top-5">Về chúng tôi</li>
								<li class="padding-top-5">Liên hệ</li>
								<li class="padding-top-5">Hợp tác</li>
							</ul>
						</col>
						<col md="4">
							<h5>DỊCH VỤ</h5>
							<ul class="no-padding no-list-style">
								<li class="padding-top-5">Về chúng tôi</li>
								<li class="padding-top-5">Liên hệ</li>
								<li class="padding-top-5">Hợp tác</li>
							</ul>
						</col>
						<col md="4">
							<h5>DANH MỤC</h5>
							<ul class="no-padding no-list-style">
								<li class="padding-top-5">Về chúng tôi</li>
								<li class="padding-top-5">Liên hệ</li>
								<li class="padding-top-5">Hợp tác</li>
							</ul>
						</col>
					</row>
				</col>
				<col md="4">
					<row>
						<col md="6">
							<h5>SPER BUILDER</h5>
							<ul class="no-padding no-list-style">
								<li class="padding-top-5">Về chúng tôi</li>
								<li class="padding-top-5">Liên hệ</li>
								<li class="padding-top-5">Hợp tác</li>
							</ul>
						</col>
						<col md="6">
							<h5>HỖ TRỢ KHÁCH HÀNG</h5>
							<ul class="no-padding no-list-style">
								<li class="padding-top-5">Về chúng tôi</li>
								<li class="padding-top-5">Liên hệ</li>
								<li class="padding-top-5">Hợp tác</li>
							</ul>
						</col>
					</row>
				</col>
			</row>
		</container>
		
	</footer>
	
	<div class="footer-bottom text-white bg-333 padding-top-15">
		<container>
			<row>
				<col md="4">
					<ul class="no-padding no-list-style">
						<li class="padding-top-5">Quy chế hoạt động và điều khoản dịch vụ</li>
						<li class="padding-top-5">Chính sách bảo mật</li>
					</ul>
				</col>
				<col md="4" class="text-center">
					Sper @ 2018
				</col>
				<col md="4" class="text-right">
					App Google Play
				</col>
			</row>
		</container>
	</div>
</empty>