<empty>
	<include src="/home/slideshow.html" />
	<container>
		<panel class="bg-transparent margin-top-20">
			<panel.heading class="bg-white-important no-padding">
				<panel.title>
					<div class="padding-15 text-uppercase">
						<row>
							<col md="3">
								<icon symbol="star" class="text-green" /> Dịch vụ nổi bật nhất
							</col>
							<col md="9">
								Công ty | Bất động Sản | Tổ đội | Cá nhân
							</col>
						</row>
					</div>
					
					<div class="bg-black text-white padding-15">
						<row>
							
							<col md="7" mdo="3">
								Tất cả | Gần nhất | Mới nhất | Khuyến mại
							</col>
							<col md="2" class="text-right">
								<a href="#" class="text-white">Chủ đề <caret /></a>
							</col>
						</row>
					</div>
				</panel.title>
			</panel.heading>
			<panel.body class="bg-transparent no-padding">
			
				<row class="row-padding-5 mg-top-5">
					<include src="/home/item.html" />
					<include src="/home/item.html" />
					<include src="/home/item.html" />
					<include src="/home/item.html" />
					<include src="/home/item.html" />
					<include src="/home/item.html" />
					<include src="/home/item.html" />
					<include src="/home/item.html" />
					<include src="/home/item.html" />
					<include src="/home/item.html" />
				</row>
			
			</panel.body>
		</panel>
	</container>
	<include src="/home/map.html" />
	<include src="/home/slider.html" />
	<include src="/home/category.html" />
	<include src="/home/news.html" />
	<include src="/home/download.html" />
</empty>