<empty>
	<img src="http://placehold.it/1900x300" class="width-p-100" />
	<container class="mg-top-15">
		<row>
			<col md="8">
				<div class="bg-white padding-15 clearfix">
					<h1>7 loại vật liệu mới sẽ thay đổi tương lai ngành xây dựng đây rồi</h1>
					<div class="clearfix">
						<btn.success class="pull-right d-flex align-items-center"><fa symbol="bookmark" class="mg-right-5" /> Lưu bài viết</btn.success>
					</div>
					<div class="clearfix">
						Nội dung
					</div>
					<hr />
					<h3>Bài viết khác</h3>
					<div class="clearfix">
						<row class="row-padding-5">
							<include src="/news/otherItem.html" />
							<include src="/news/otherItem.html" />
							<include src="/news/otherItem.html" />
							<include src="/news/otherItem.html" />
							<include src="/news/otherItem.html" />
							<include src="/news/otherItem.html" />
							<include src="/news/otherItem.html" />
							<include src="/news/otherItem.html" />
						</row>
					</div>
				</div>
			</col>
			<col md="4">
				<div class="bg-white padding-15 text-center">
					<h3 class="fs-18 mg-top-15 mg-bottom-15">Tải về app Sper</h3>
					<img src="http://placehold.it/90x40" />
					<img src="http://placehold.it/90x40" />
					
					<hr />
					
					<h3 class="fs-18 mg-top-15 mg-bottom-15">Liên hệ truyền thông</h3>
					<btn.success class="padding-15 width-p-100 d-flex align-items-center">
						<fa symbol="arrow-circle-o-down" size="3x" class="mg-right-5" /> Liên hệ đội ngũ truyền thông Sper
					</btn.success>
					
					<hr />
					
					<h3 class="fs-18 mg-top-15 mg-bottom-15">Theo dõi các kênh truyền thông khác của sper</h3>
					<div>
						<fa symbol="facebook" class="mg-right-5" size="3x" />
						<fa symbol="linkedin-square" class="mg-right-5" size="3x" />
						<fa symbol="instagram" class="mg-right-5" size="3x" />
						<fa symbol="twitter-square" size="3x" />
					</div>
					
					<hr />
					
					<include src="/news/leftItem.html" />
					<include src="/news/leftItem.html" />
					<include src="/news/leftItem.html" />
					<include src="/news/leftItem.html" />
				</div>
			</col>
		</row>
	</container>
</empty>