<empty>
	<h1 class="text-center">Bảng tin Sper</h1>
	<h2 class="text-center fs-16 text-italic">Khám phá thế giới của Sper tại đây</h2>
	<container.fluid>
		<row>
			<col md="2" class="padding-0">
				<include src="/sidebar/partner.html" />
			</col>
			<col md="8">
				<div class="bg-white pd-top-5 pd-bottom-5">
				<row class="row-padding-5">
					<col md="8">
						<img src="http://placehold.it/800x350" class="width-p-100" />
					</col>
					<col md="4">
						<img src="http://placehold.it/400x356" class="width-p-100" />
					</col>
				</row>
				<row class="row-padding-5 mg-top-5">
					<col md="4">
						<img src="http://placehold.it/400x350" class="width-p-100" />
					</col>
					<col md="4">
						<img src="http://placehold.it/400x350" class="width-p-100" />
					</col>
					<col md="4">
						<img src="http://placehold.it/400x350" class="width-p-100" />
					</col>
				</row>
				</div>
			</col>
			<col md="2" class="padding-0">
				<include src="/sidebar/partner.html" />
			</col>
		</row>
	</container.fluid>
</empty>