<style>
	* {border-radius: 0 !important;}
	.relative {position: relative;}
	.absolute {position: absolute;}
	.wsearch {width: 300px;}
	.on-top {z-index: 9999;}
	.on-middle {z-index: 9998;}
	.align-bottom {bottom: 0;}
	.align-left {left: 0;}
	.align-right {right: 0;}
	.align-top {top:0;}
	.navbar-input-wrapper {padding-top: 10px; padding-bottom: 15px; line-height: 20px; padding-right: 10px;}
	.circle {border-radius: 50%!important;}
	.bg-red {background: red;}
	.bg-black {background: black;}
	.bg-white {background: white;}
	.bg-white-important {background: white !important;}
	.bg-transparent {background: none;}
	.bg-green {background: green;}
	.bg-333 {background: #333;}
	.bg-ccc {background: #ccc;}
	.text-white{color: white;}
	.text-red{color: red;}
	.text-bold {font-weight: bold;}
	.text-strike{text-decoration: line-through;}
	.text-italic{font-style: italic;}
	.no-padding {padding: 0;}
	(* for(var i = 0; i < 201; i++){ *)
		.padding-(*= i*) {padding: (*= i*)px;}
		.padding-top-(*= i*) {padding-top: (*= i*)px;}
		.padding-bottom-(*= i*) {padding-bottom: (*= i*)px;}
		.padding-left-(*= i*) {padding-left: (*= i*)px;}
		.padding-right-(*= i*) {padding-right: (*= i*)px;}
		
		.pd-(*= i*) {padding: (*= i*)px;}
		.pd-top-(*= i*) {padding-top: (*= i*)px;}
		.pd-top-(*= i*)-i {padding-top: (*= i*)px !important;}
		.pd-bottom-(*= i*) {padding-bottom: (*= i*)px;}
		.pd-bottom-(*= i*)-i {padding-bottom: (*= i*)px !important;}
		.pd-left-(*= i*) {padding-left: (*= i*)px;}
		.pd-right-(*= i*) {padding-right: (*= i*)px;}
		
		.margin-(*= i*) {margin: (*= i*)px;}
		.margin-top-(*= i*) {margin-top: (*= i*)px;}
		.margin-bottom-(*= i*) {margin-bottom: (*= i*)px;}
		.margin-left-(*= i*) {margin-left: (*= i*)px;}
		.margin-right-(*= i*) {margin-right: (*= i*)px;}
		
		.mg-(*= i*) {margin: (*= i*)px;}
		.mg-top-(*= i*) {margin-top: (*= i*)px;}
		.mg-bottom-(*= i*) {margin-bottom: (*= i*)px;}
		.mg-left-(*= i*) {margin-left: (*= i*)px;}
		.mg-right-(*= i*) {margin-right: (*= i*)px;}
		
		.font-size-(*= i*) {font-size: (*= i*)px;}
		.fs-(*= i*) {font-size: (*= i*)px;}
		
		
		.top-(*= i*) {top: (*= i*)px;}
		.top-negative-(*= i*) {top: -(*= i*)px;}
		.top-n-(*= i*) {top: -(*= i*)px;}
		
		.bottom-(*= i*) {bottom: (*= i*)px;}
		.bottom-negative-(*= i*) {bottom: -(*= i*)px;}
		.bottom-n-(*= i*) {bottom: -(*= i*)px;}
		
		.left-(*= i*) {left: (*= i*)px;}
		.left-negative-(*= i*) {left: -(*= i*)px;}
		.left-n-(*= i*) {left: -(*= i*)px;}
		
		.right-(*= i*) {right: (*= i*)px;}
		.right-negative-(*= i*) {right: -(*= i*)px;}
		.right-n-(*= i*) {right: -(*= i*)px;}
		
		.width-(*= i*) {width: (*= i*)px;}
		.width-percent-(*= i*) {width: (*= i*)%;}
		.width-p-(*= i*) {width: (*= i*)%;}
		
		.height-(*= i*) {height: (*= i*)px;}
		.height-percent-(*= i*) {height: (*= i*)%;}
		.height-p-(*= i*) {height: (*= i*)%;}
	(* } *)
	(* for(var i = 0; i < 11; i++) { *)
		.opacity-(*= i*) {opacity: (*= i / 10*);}
		.border-radius-(*= i *) {border-radius: (*= i *)px !important;}
		.border-radius-p-(*= i *) {border-radius: (*= i *)% !important;}
		.border-(*= i *) {border: (*= i *)px solid black;}
	(* } *)
	.border-white {border-color: white;}
	.border-eee {border-color: #eee;}
	.row-padding-5 {margin-left: 0;margin-right: 0;}
	.row-padding-5 [class*="col-"] {padding-left: 5px;padding-right: 5px;}
	
	.row-no-padding {margin-left: 0;margin-right: 0;}
	.row-no-padding [class*="col-"] {padding-left: 0;padding-right: 0;}
	
	.list-group-no-border li {border-top: 0 none;border-bottom: 0 none;}
	.inline {display: inline;}
	.block {display: block;}
	.inline-block {display: inline-block;}
	.d-table {display: table;}
	.d-table-cell{display: table-cell;}
	.d-flex{display: flex;}
	.v-middle {vertical-align: middle;}
	.align-items-center {align-items: center;}
	.no-list-style {list-style-type: none;}
	.download-section {background: #333;padding: 30px;}
	body {background: #EEE;}
</style>