<media>
	<media.left style="width: 10%;">
		<a href="#"><media.object src="http://via.placeholder.com/64x64" class="circle" /></a>
	</media.left>
	<media.body>
		<media.heading>My Trần</media.heading>
		<div class="clearfix">
			<div class="pull-left inline-block padding-top-5">Chia sẻ blog - 04/06/2018 - 19:03</div>
			<div class="pull-right inline-block">
				<btn.success><icon symbol="bookmark" />Lưu bài Blog</btn.success>
			</div>
		</div>
	</media.body>
	<strong>Khám phá không gian của đôi vợ chồng đa phong cách</strong>
</media>